@tailwind base;
@tailwind components;
@tailwind utilities;

scramble-display {
  @apply bg-base-300 rounded-lg;
}

.btn:focus {
  outline: none;
}

.scramble-text {
  opacity: 1;
  transition: all 0.15s ease-in-out;
  width: calc(95% - 40px);
  min-width: 100px;
  text-align: center;
  resize: none;
  overflow: hidden;
  @apply bg-base-100;
}
