@tailwind base;
@tailwind components;
@tailwind utilities;

scramble-display {
  @apply bg-base-300 rounded-lg;
}

.btn:focus {
  outline: none;
}

.scramble-text {
  opacity: 1;
  transition: all 0.15s ease-in-out;
  width: calc(95% - 40px);
  min-width: 100px;
  text-align: center;
  resize: none;
  overflow: hidden;
  @apply bg-base-100;
}
body {
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* html {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
} */

/* body {
  overflow: hidden;
} */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
